<!doctype html>
<html>
	<head>
		<title>Nextest: Sorry</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
	</head>
	<body>
		{{template "style"}}
		<main>
			<h1>Oops!</h1>
			<p class="error">{{.}}</p>
		</main>
	</body>
</html>
