<!doctype html>
<html>
	<head>
		<title>Nextest: Done</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
	</head>
	<body>
		{{template "style"}}
		<main>
			<h1>Done!</h1>
			<p>
				You may now close this tab and return to the client you
				originated the login from.
			</p>
		</main>
	</body>
</html>
